<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyALiiISMGpJJfc7nATaCnOqlehXa_0nJUo</string>
	<key>GCM_SENDER_ID</key>
	<string>50109702108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>exchange-book-b33bc</string>
	<key>STORAGE_BUCKET</key>
	<string>exchange-book-b33bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:50109702108:ios:7dd5913310cc7f308cf919</string>
	<key>DATABASE_URL</key>
	<string>https://exchange-book-b33bc-default-rtdb.firebaseio.com</string>
</dict>
</plist>